<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <ul class="footer-social">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#" aria-label="Instagram" target="blank">
                        <svg class="footer-social__instagram">
                            <use xlink:href="images/icons-sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#" aria-label="Telegram" target="blank">
                        <svg class="footer-social__telegram">
                            <use xlink:href="images/icons-sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#" aria-label="Whatsapp" target="blank">
                        <svg class="footer-social__whatsapp">
                            <use xlink:href="images/icons-sprite.svg#icon-whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#" aria-label="Facebook" target="blank">
                        <svg class="footer-social__facebook">
                            <use xlink:href="images/icons-sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">о нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">продукция</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">почему мы</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">рецепты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">история</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">оптовикам</a>
                    </li>
                </ul>
            </nav>
            <a class="logo" href="#">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>
    </div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>