<section class="contacts">
    <div class="container">
        <div class="contacts__box">
            <p class="contacts__box-text">В Норвегии холодно.
                Очень холодно.</p>
            <ul class="contacts__box-list">
                <li class="contacts__box-item">
                    Связаться с нами <br>
                    <a href="mailto:mail@seafood.no"></a>
                    mail@seafood.no
                </li>
                <li class="contacts__box-item">
                    Телефон: +47 77 60 33 33
                </li>
                <li class="contacts__box-item">
                    <span>Норвежский совет по морепродуктам</span>
                    Stortorget 1 <br>
                    PO Box 6176 <br>
                    N-9291 Tromsø
                </li>
            </ul>
        </div>
    </div>
</section>