<header class="header">
    <div class="container">
        <div class="header__top">
            <a class="logo" href="#">
                <img src="images/logo.png" alt="logo">
            </a>
            <nav class="menu">
                <button class="menu__btn">
                    <span></span>
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">о нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">продукция</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">почему мы</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">рецепты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">история</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">оптовикам</a>
                    </li>
                </ul>
            </nav>
            <a class="phone" href="tel:38050111111">
                <img src="images/phone.svg" alt="phone">
            </a>
        </div>

    </div>
    <div class="header__content">
        <div class="container">
            <h1 class="title">
                Морепродукты из Норвегии
            </h1>
            <div class="header__slider">
                <div class="header__slider-item">
                    <p class="header__slider-text">Норвежские морепродукты уникальны, потому что они выращиваются
                        экологически рациональным образом, основываясь на знаниях и опыте многих поколений, заботясь
                        об океане и будущих поколениях.</p>
                    <p class="header__slider-text">
                        Ежедневно во всем мире подают несколько миллионов норвежских блюд из морепродуктов.</p>
                </div>
                <div class="header__slider-item">
                    <p class="header__slider-text">
                        Ежедневно во всем мире подают несколько миллионов норвежских блюд из морепродуктов.</p>
                    <p class="header__slider-text">Норвежские морепродукты уникальны, потому что они выращиваются
                        экологически рациональным образом, основываясь на знаниях и опыте многих поколений, заботясь
                        об океане и будущих поколениях.</p>
                </div>
                <div class="header__slider-item">
                    <p class="header__slider-text">Норвежские морепродукты уникальны, потому что они выращиваются
                        экологически рациональным образом, основываясь на знаниях и опыте многих поколений, заботясь
                        об океане и будущих поколениях.</p>
                    <p class="header__slider-text">
                        Ежедневно во всем мире подают несколько миллионов норвежских блюд из морепродуктов.</p>
                </div>
                <div class="header__slider-item">
                    <p class="header__slider-text">
                        Ежедневно во всем мире подают несколько миллионов норвежских блюд из морепродуктов. </p>
                    <p class="header__slider-text">Норвежские морепродукты уникальны, потому что они выращиваются
                        экологически рациональным образом, основываясь на знаниях и опыте многих поколений, заботясь
                        об океане и будущих поколениях.</p>
                </div>
                <div class="header__slider-item">
                    <p class="header__slider-text">Норвежские морепродукты уникальны</p>
                    <p class="header__slider-text">
                        Ежедневно во всем мире подают несколько миллионов норвежских блюд из морепродуктов.</p>
                </div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <!-- <div class="swiper__buttons"> -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <!-- </div> -->

            <a class="header__content-btn" href="#">Выбрать</a>
            <div class="header__content-box">
                <a class="header__content-link header__content-link_active" href="#">Ru</a>/
                <a class="header__content-link" href="#">En</a>
            </div>
        </div>
    </div>
</header>