<section class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__name">
                <h3 class="product__name-item">Треска</h3>
                <h3 class="product__name-item">Лосось</h3>
                <h3 class="product__name-item">Скумбрия</h3>
                <h3 class="product__name-item">Голубая мидия</h3>
                <h3 class="product__name-item">Коричневый краб</h3>
                <h3 class="product__name-item">Осьминог</h3>
                <h3 class="product__name-item">Скумбрия</h3>
                <h3 class="product__name-item">Лосось</h3>
                <h3 class="product__name-item">Коричневый краб</h3>
            </div>
            <div class="product__content">
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/cod.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>

                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/salmon.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/humpsalmon.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>

                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/blue_mussel.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>

                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/product.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>

                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/octopus.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/humpsalmon.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br></li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/salmon.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br></li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/humpsalmon.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br></li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>
                </div>
                <div class="product__content-element">
                    <div class="product__content-box">
                        <img class="product__content-img" src="images/staff/product.png" alt="image">
                        <ul class="product__content-list">
                            <li class="product__content-item"><span>Сезон</span>
                                Круглый год, но лучше всего осенью.</li>
                            <li class="product__content-item"><span>Диапазон улова</span>
                                Вдоль норвежского побережья.</li>
                            <li class="product__content-item"><span>Питательные вещества</span>
                                белок <br>
                                витамин В12 <br>
                                селен <br>
                            </li>
                        </ul>
                    </div>
                    <h2 class="product__content-title">Brown crab</h2>
                    <p class="product__content-text">
                        Чтобы поймать коричневых крабов, вам не понадобится больше, чем фонарик и быстрые рефлексы -
                        последнее, что видят коричневые крабы, - это вспышка и стреляющая рука. Но вы должны
                        действовать
                        быстро: через секунду или две краб понимает, что происходит, и использует свои когти, чтобы
                        ущипнуть Вас изо всех сил, и он не отпустит Вас легко. Таким образом, ловля крабов не только
                        обеспечивает вкусную еду, но и вызывает выброс адреналина.
                    </p>
                    <button class="product__content-btn">ЗАКАЗАТЬ</button>

                </div>
            </div>
        </div>
    </div>
</section>