<section class="seafood">
    <h2 class="seafood__title-hidde">Наши преимущества</h2>
    <div class="seafood-box">
        <div class="container">
            <div class="seafood-box__items">
                <div class="seafood-box__item">
                    Уникальное разнообразие
                </div>
                <div class="seafood-box__item">Экологическое потребление</div>
                <div class="seafood-box__item">Лучшее качество</div>
                <div class="seafood-box__item">Идеальные условия для выращивани</div>
            </div>
        </div>
    </div>
    <div class="seafood__container container">
        <div class="seafood__items">
            <div class="seafood__item">
                <div class="seafood__item-content">
                    <h3 class="seafood__item-title">Экстремальные условия для человека. Идеальные условия для рыб.
                    </h3>
                    <p class="seafood__item-text">Гольфстрим, несущий теплую воду из Мексиканского залива через
                        Атлантический
                        океан, течет на север вдоль норвежского побережья в прозрачную, чистую ледяную воду Арктики.
                        Это
                        создает
                        идеальные условия для невероятно богатой морской экосистемы.</p>
                    <p class="seafood__item-text">Мелкая рыба, большая рыба, моллюски и другие формы жизни.
                        Некоторые из
                        них
                        -
                        местное население, другие - мигрируют или проеплывают через земной шар. Некоторые
                        предпочитают
                        холодное
                        открытое море, другие живут в тихих глубоких фьордах, защищенных стеной островов и шхер.
                        Каждый
                        из
                        них
                        играет свою роль в сложном и увлекательном морском жизненном цикле.
                    </p>
                    <p class="seafood__item-text">Мелкая рыба, большая рыба, моллюски и другие формы жизни.
                        Некоторые из
                        них
                        -
                        местное население, другие - мигрируют или проеплывают через земной шар. Некоторые
                        предпочитают
                        холодное
                        открытое море, другие живут в тихих глубоких фьордах, защищенных стеной островов и шхер.
                        Каждый
                        из
                        них
                        играет свою роль в сложном и увлекательном морском жизненном цикле.
                    </p>
                </div>
                <img class="seafood__item-img" src="images/staff/seafood-1.jpg"></img>
            </div>
            <div class="seafood__item seafood__item_text-right">
                <img class="seafood__item-img" src="images/staff/seafood-2.jpg"></img>
                <div class="seafood__item-content">
                    <h3 class="seafood__item-title">Лучшее качество морепродуктов</h3>
                    <p class="seafood__item-text">Норвежские морепродукты - это качественные морепродукты, и мы рады
                        ими
                        поделиться.
                        Вот почему нашими морепродуктами наслаждаются во всем мире. Международное значение этой
                        отрасли
                        наглядно
                        демонстрирует тот факт, что норвежские морепродукты путешествуют примерно в 150 стран. Мы
                        второй
                        по
                        величине экспортер морепродуктов в мире.</p>
                </div>
            </div>
            <div class="seafood__item">
                <div class="seafood__item-content">
                    <h3 class="seafood__item-title">Экологическое потребление</h3>
                    <p class="seafood__item-text">Великолепная прибрежная природа Норвегии и разнообразие жизни,
                        которое
                        она
                        поддерживает, - это основа нашего существования с каменного века. Мы знаем, что обязаны
                        передать
                        это
                        будущим поколениям. Море - это дар, который продолжает дарить, но только до тех пор, пока мы
                        продолжаем
                        уважать его и бережно относимся к тому, что нам было дано.
                    </p>
                    <h3 class="seafood__item-title">Идеальные условия выращивания</h3>
                    <p class="seafood__item-text">Норвегия имеет одну из самых передовых и хорошо зарекомендовавших
                        себя
                        систем
                        устойчивого развития и управления как в рыболовстве, так и в аквакультуре. Это не
                        случайность, а
                        систематическая работа на всех уровнях, обеспечивающая безопасность потребителей и
                        благополучие
                        рыб.
                        Большой упор на благополучие животных и строгие правила означают, что наши морепродукты
                        неизменно
                        высокого качества и безопасны для употребления. Производство является экологически
                        безопасным и
                        ответственным, оставляя минимальный след на окружающую среду.</p>
                </div>
                <img class="seafood__item-img" src="images/staff/seafood-3.jpg"></img>
            </div>
        </div>
        <blockquote class="seafood__blockquote">
            <img class="seafood__blockquote-img" src="images/blockquote.png"></img>
            <p class="seafood__blockquote-text">Вы получаете самые лучшие морепродукты <br>
                Неважно, что это за морепродукты, потому что они норвежские,
                а значит - самого лучшего качества.</p>
        </blockquote>
    </div>
</section>